coverage.*
coverprofile.out
vendor
bin
.idea
.go/
.envrc
furyctl
demo
dist/
.infrastructure
.kubernetes
.distribution
test/data/e2e/**/target
test/e2e/e2e.test
test/**/kubeconfig

.vscode
*.log
go.work
go.work.sum
.env
