variant: flatcar
version: 1.1.0

storage:
  files:
    - path: /opt/ignition/config.ign
      mode: 0644
      overwrite: true
      contents:
        compression: gzip
        source: data:;base64,{{.Base64EncodedIgnition}}

systemd:
  units:
    - name: flatcar-install.service
      enabled: true
      contents: |
        [Unit]
        Description=Install Flatcar to disk
        Requires=network-online.target
        After=network-online.target
        ConditionPathExists=/opt/ignition/config.ign
        ConditionPathExists=!/dev/disk/by-label/ROOT

        [Service]
        Type=oneshot
        ExecStart=/usr/bin/flatcar-install -d {{.InstallDisk}} -i /opt/ignition/config.ign
        ExecStartPost=/usr/bin/systemctl --no-block reboot
        RemainAfterExit=yes

        [Install]
        WantedBy=multi-user.target
